.hearts-bg {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; /* чтобы был фоном */
background: radial-gradient(circle at bottom, #fff5fa 0%, #ffe6f2 35%, #ffd6ec 65%, #ffc2e2 100%);

}

.heart {
  position: absolute;
  bottom: -40px;
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(1.4);
    opacity: 0;
  }
}


